/*A Site About Some Dogs */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');

:root {
    --border-color: #3F8DA7;
  }
  
/* reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }
  
  .top-bar {
    background-color: #92E0E5;
    padding: 10px 0;
    color: white;
    position: fixed;
    width: 100%;
    height: 46px;
    z-index: 1000;
  }

  .nav-links {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-link:hover {
    background-color: var(--border-color);
    transition: background-color 0.3s;
  }
  
  .top-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .dog-icon {
    float: left;
    padding-left: 20px;
    height: 30px; 
  }
  
  .content {
    padding-top: 46px; 
    text-align: center; 
  }
  
  .section-title {
    font-size: 2em;
    margin: 20px 0;
  }

  #section1 {
    background: url('/Users/virulencies/turing_work/2mod/dog-project/images/park.jpg') no-repeat center center;
    background-size: cover;
    background-position: center top;
    padding: 100px 0;
    text-align: center;
    height: 440px;
    min-height: 600px;
    margin-top: 0px;
  }
  
  .main-title {
    color: black;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
  }
  
  .main-dog {
    text-align: center;
    position: relative; 

  }

  .main-dog img {
    max-width: 100%;
    width: 325px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid var(--border-color);
    display: block;
  }
  
  .main-button {
    background-color: white;
    color: var(--border-color);
    border: 5px solid var(--border-color);
    padding: 5px 20px;
    font-size: 1.1em; 
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .secondary-button {
    background-color: white;
    color: var(--border-color);
    border: 5px solid var(--border-color);
    padding: 5px 20px;
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }

  #section2 {
    display: flex;
    justify-content: space-around;
    height: 486px;
    min-height: 500px;
    padding: 20px 0; 
  }
  
  .lower-dogs {
    flex: 1;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
  }
  
  .lower-dogs img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    max-width: 100%;
    width: 180px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    border: 2.3px solid var(--border-color);
    display: block;
  }

  .lower-dogs p {
    margin-top: 10px;
    padding: 0 20px;
    text-align: left;
    font-size: 1em;
  }
  
  .section-title {
    margin-bottom: 20px; 
    font-size: 1.1em;
    font-weight: 500;
  }
  
  .footer {
    background-color: #3F8DA7;
    color: white;
    padding: 20px 0;
    bottom: 0;
    min-height: 175px;
    width: 100%;
  }
  
  .social-links {
    list-style-type: none; 
    padding: 10px 0; 
    text-align: center; 
    font-size: 1.3em;
    font-family: 500;
  }
  
  .social-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
  }

  .social-links img {
    height: auto;
    margin: 10px 10px;
  }

  .github-link {
    color: white;
    text-decoration: underline;
  }